 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  width: 30%;
  height: 500px;
  background-color: rgb(216, 151, 173);
  margin: 20px auto;
}
.container {
  width: 90vw;
  background-color: mediumvioletred;
  margin: 20px auto;
  display: flex;
  justify-content: space around;
  flex-wrap: wrap;
}
